{% extends 'header1.html'%}
{% load static%}

{% block dropdown %}
    <div class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle active" data-toggle="dropdown"><i class="bi bi-person-fill"></i> {{umid.fname}} {{umid.lname}}</a>
        <div class="dropdown-menu">
            <a href="{% url 'house-details' %}" class="dropdown-item">My House Details</a>
            <a href="{% url 'change-member-password' %}" class="dropdown-item active">Change Password</a>
            <a href="{% url 'member-logout' %}" class="dropdown-item">Logout</a>
        </div>
    </div>
{% endblock %} 





{% block content %}

<p>{{msg}}</p>
<div class="container-fluid">
    <p>{{msg}}</p>
    <form action="{% url 'change-member-password' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            <label for="">Enter Current Password</label>
            <input type="password" name="member-current-password" required class="form-control" style="border: 2px solid rgb(33, 93, 204);">
        </div>
        <div class="col-6">      
        </div>
    </div>
    <div class="row">
        <div class="col-6 ">
          <label for="">Enter New Password</label>
          <input type="password" name="member-new-password" required class="form-control" style="border: 2px solid rgb(33, 93, 204);">
        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="row">
        <div class="col-6 ">
            <label for="">Confirm New Password</label>
            <input type="password" name="member-confirm-password" required class="form-control" style="border: 2px solid rgb(33, 93, 204);">
        </div>
    </div>
  <br>
  <button class="btn btn-primary col-2"> <i class="fa fa-edit"></i>Change Password</button>
</form>
</div>

{% endblock %}