{% extends 'header1.html'%}
{% load static %}

{% block member_index %}
<a href="{% url 'client-index' %}" class="nav-item nav-link active">Home</a>
{% endblock %}

{% block style %}
<style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=date], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .myform{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
{% endblock %}

{% block content %}

            <!-- Service Start -->
        <!-- <p><h3 style="color: red;">{{msg}}</h3></p> -->
        {% if date is not None%}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {{msg}}
          </div>
        {% endif %}
            <div class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <img src="https://images.unsplash.com/photo-1549517045-bc93de075e53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" height="250" width="130" alt="Houses">
                                <h3>Total Houses Registered</h3>
                                <p>
                                    {{count}}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <img src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG91c2UlMjBvd25lcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" height="250" width="130"alt="Owners">
                                <h3>Total House Owners</h3>
                                <p>
                                    {{owners}}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item">
                                <img src="https://media.gettyimages.com/photos/new-tenants-picture-id1286397713?k=20&m=1286397713&s=612x612&w=0&h=ip4F1LXMRLMVh_08ohJuDy_YZerZVhAOXXV-w9NBcYQ=" height="250" width="130" alt="Service">
                                <h3>Total Tenants</h3>
                                <p>
                                    {{tenants}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Service End -->
            <div class="service">
                <div class="container">
                    <div class="section-header">
                        <h3><b>Featured Ads from our Society Members</b></h3>
                    </div>
                    <div class="row">
                        {% for one in ad %}
                        <div class="col-4">
                            <div class="service-item">
                                <img src="{{one.ad_image1.url}}" alt="ad" height="250" width="150">
                                <h3> For : {{one.ad_type}}</h3>
                                <h3>
                                    {{one.member.fname}} {{one.member.lname}}
                                </h3>
                                <h3><i style="font-size:24px" class="fa">&#xf156;</i>{{one.ad_price}}/-</h3>
                                <a class="btn" href="{% url 'view-ad-details' one.id %}">View in detail</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="faqs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-header left">
                                <p>Have a Family Function?</p>
                                <h2>Book the Party Hall Now!</h2>
                            </div>
                            <img src="{% static 'client-assets/img/party-hall.jpg' %}" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <div id="accordion">
                                <div class="card">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="myform">
                                        <form action="{% url 'client-index' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <label for="Date">Booking Date</label>
                                                <input type="date" required name="date">
                                            </div>
                                            <div class="row">
                                                
                                                <label for="purpose">Booking Purpose</label>
                                                <input type="text" required name="purpose" placeholder="Eg. Birthday Party..">
                                            </div>                                            
                                            <input type="submit" value="Book Now">
                                        </form>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQs End -->
            
            
            <!-- Pricing Plan Start -->

            <div class="price">
                <div class="container">
                    <div class="section-header">
                        <p>Party Hall Booking Details</p>
                    </div>
                    <div class="row">
                        {% for one in club %}
                        <div class="col-md-4">
                            <div class="price-item">
                                <div class="price-header">
                                    <div class="price-icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="price-title">
                                        <h2>Party Hall</h2>
                                    </div>
                                    <div class="price-pricing">
                                        <h3>Date: {{one.date}}</h3> 
                                    </div>
                                </div>
                                <div class="price-body">
                                    <div class="price-des">
                                        <ul>
                                            <li>Booked For: {{one.purpose}}</li>
                                            <li><h5><b>Contact Details:</b></h5></li>
                                            <li>{{one.member.fname}} {{one.member.lname}}</li>
                                            <li>{{one.member.email}}</li>
                                            <li>{{one.member.mobile}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <!-- Blog Start -->
            <div class="blog">
                <div class="container">
                    <div class="section-header">
                        <p>Upcoming Events</p>
                    </div>
                    <div class="row">
                        {% for one in event%}
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-item">
                                <h3>{{one.ename}}</h3>
                                <div class="meta">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <a href="">{{one.evenue}}</a>
                                    <i class="fa fa-calendar-alt"></i>
                                    <p>{{one.edate}}</p>
                                </div>
                                <p>
                                    {{one.edes}}
                                </p>
                            </div>
                        </div>  
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Complaint Form -->
            
{% endblock %}
