{% extends 'header1.html'%}
{% load static %}

{% block complaint %}
<a href="{% url 'complaint' %}" class="nav-item nav-link active">Complaint</a>
{% endblock %}

{% block style %}
<style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=date], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .myform{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
{% endblock %}

{% block content %}

<div class="faqs">
    <div class="container">
        <div class="col-md-5">
            <div class="section-header left">
                <p>Have a Complaint? Register here</p>
            </div>
            <img src="https://5.imimg.com/data5/AF/UJ/MY-3077125/complaint-box-500x500.png" alt="Image">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="accordion">
                    <div class="card">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="myform">
                            <form action="{% url 'complaint' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <label for="complaint">Complaint subject</label>
                                    <input type="text" required name="subject">
                                </div>
                                <div class="row">
                                    
                                    <label for="purpose">Description</label>
                                    <textarea name="des" id="" cols="100" rows="5"></textarea>
                                </div>                                            
                                <input type="submit" value="Register Complaint">
                            </form>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="blog">
    <div class="container">
        <div class="section-header">
            <p>Registered Complaints</p>
        </div>
        <div class="row">
            {% for one in complaint%}
            <div class="col-lg-5 col-md-6">
                <div class="blog-item">
                    <h3 class="text-center">{{one.subject}}</h3>
                    <div class="meta">
                        <i class="fas fa-user-alt"></i>
                        <a href="">{{one.member.fname}} {{one.member.lname}}</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>{{one.cdate}}</p>
                        {% if one.status %}
                        <i class="glyphicon glyphicon-ok"></i>
                        <p>Resolved</p>
                        {% else %}
                        <i class="glyphicon glyphicon-remove-circle"></i>
                        <p>Not Resolved</p>
                        {% endif %}
                    </div>
                    <p>
                        {{one.des}}
                    </p>
                </div>
            </div>  
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}