{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ehousing-Housing Made Easy</title>

        <!-- Favicon -->
        <link href="{% static 'client-assets/img/favicon.ico' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'client-assets/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'client-assets/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'client-assets/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'client-assets/css/custom.css' %}" rel="stylesheet">

        <!-- Alerts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        {% block style %}

        {% endblock %}
    </head>

    <body>
        
        <div class="wrapper">
            <!-- Header Start -->
            <div class="container-fluid">
            <div class="header home">
                    <div class="header-top row align-items-center">
                        <div class="col-lg-5">
                            <div id="aheader">
                                    <h1>
                                        Smart-Society 
                                    </h1>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        {% block member_index %}
                                        <a href="{% url 'client-index' %}" class="nav-item nav-link">Home</a>
                                        {% endblock %}

                                        {% block maintenance %}
                                        <a href="{% url 'maintenance' %}" class="nav-item nav-link">Maintenance</a>
                                        {% endblock %}

                                        {% block advertise %}
                                        {% if umid.residence_type == "Owner" %}
                                        <a href="{% url 'advertise' %}" class="nav-item nav-link">Advertise My House</a>
                                        {% endif %}
                                        {% endblock %}

                                        {% block complaint %}
                                        <a href="{% url 'complaint' %}" class="nav-item nav-link">Complaint</a>
                                        {% endblock %}
                                        
                                        {% block dropdown %}
                                            <div class="nav-item dropdown">
                                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="bi bi-person-fill"></i> {{umid.fname}} {{umid.lname}}</a>
                                                <div class="dropdown-menu">
                                                    <a href="{% url 'house-details' %}" class="dropdown-item">My House Details</a>
                                                    <a href="{% url 'change-member-password' %}" class="dropdown-item">Change Password</a>
                                                    <a href="{% url 'member-logout' %}" class="dropdown-item">Logout</a>
                                                </div>
                                            </div>
                                        {% endblock %} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hero row align-items-center">
                        <h2>Best & Trusted Housing Management Website</h2>
                        <div class="col-md-7">
                            <p>Now managing your society became easier than ever before...</p>
                        </div>
                    </div>
                </div>
            </div>
           <!-- Header End -->



            {% block content %}

            {% block details %}


            {% endblock %}


            {% endblock %}
            {% block footer_content %}
            <!-- Footer Start -->
            <div class="footer">
              <div class="container footer-menu">
                  <div class="f-menu">
                      <a href="{% url 'client-index' %}">Home</a>
                      <a href="{% url 'advertise' %}">Advertise My House</a>
                      <a href="{% url 'maintenance' %}">Maintenance</a>
                      <a href="{% url 'complaint' %}">Complaint</a>
                      <a href="{% url 'house-details' %}">My House Details</a>
                      <a href="{% url 'change-member-password' %}">Change Password</a>
                  </div>
              </div>
              <div class="container copyright">
                  <div class="row">
                      <div class="col-md-6">
                          <p>&copy; <a href="https://htmlcodex.com">HTML Codex</a>, All Right Reserved.</p>
                      </div>
                      <div class="col-md-6">
                          <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                      </div>
                  </div>
              </div>
          </div>
          {% endblock %}
          <!-- Footer End -->
          
          <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      </div>

      <!-- JavaScript Libraries -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'client-assets/lib/easing/easing.min.js' %}"></script>
      <script src="{% static 'client-assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'client-assets/lib/isotope/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'client-assets/lib/lightbox/js/lightbox.min.js' %}"></script>

      <!-- Template Javascript -->
      <script src="{% static 'client-assets/js/main.js' %}"></script>
      


      <!-- Alerts -->
      <script>
          window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
      </script>
      {% block footerjs %}

      {% endblock %}
  </body>
</html>
